body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
}

.header {
  background-color: #4d5256;
  color: white;
}

.top-bar,
.middle-bar,
.bottom-bar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.top-bar {
  justify-content: space-between;
}

.menu-btn {
  font-size: 20px;
  background: none;
  border: none;
  color: white;
  margin-right: 10px;
}

.nav-left a,
.nav-right a,
.bottom-bar a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.middle-bar {
  justify-content: space-between;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  background-color: #4d5256;
}

.logo {
  font-size: 20px;
}

.search-box {
  flex: 1;
  margin: 0 20px;
  display: flex;
}

.search-box input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.search-box button {
  padding: 8px 12px;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: white;
  cursor: pointer;
}

.alarm {
  font-size: 20px;
}

.bottom-bar {
  background-color: #4d5256;
  border-bottom: 1px solid #333;
  overflow-x: auto;
}

.bottom-bar a {
  white-space: nowrap;
  font-size: 13px;
}


/* 배너 영역 */
.banner-section {
  overflow: hidden; /* 화면 밖으로 벗어나는 부분을 숨깁니다. */
}

.banner-slider {
  display: flex;
  transition: transform 1s ease; /* 1초 동안 부드럽게 슬라이드 전환 */
}

.banner-item {
  min-width: 33.33%; /* 3개의 배너를 동시에 보이게 하도록 설정 */
  transition: opacity 1s ease-in-out; /* 부드러운 트랜지션 효과 */
}

.banner-item img {
  width: 100%;
  height: auto;
}

.banner-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}




